<h1 mat-dialog-title>Sign Up</h1>
<div mat-dialog-content>
  <form>
    <mat-form-field>
      <input matInput placeholder="Email" name="username" required>
      <mat-error>
        Please provide a valid email address
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>User type</mat-label>
      <mat-select>
        <mat-option value="one">Driver</mat-option>
        <mat-option value="two">Passenger</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Password" name="password" required>
      <mat-error>
        Please provide a valid password
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Confirm Password" name="confirmPassword" required>
      <mat-error>
        Passwords do not match
      </mat-error>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions align="center">
 <button mat-flat-button color="primary" (click)="signUp()">Sign Up</button>
</div>