<h1 mat-dialog-title>Sign Up</h1>
<div mat-dialog-content>
  <form [formGroup]="signupForm">
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="username" required>
      <mat-error>
        Please provide a valid email address
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>User type</mat-label>
      <mat-select formControlName="user_type">
        <mat-option [value]="passenger">Passenger</mat-option>
        <mat-option [value]="driver">Driver</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Password" formControlName="password" required>
      <mat-error *ngIf="signupForm.get('password')?.errors">
        Please provide a valid password
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword" required>
      <mat-error *ngIf="signupForm.get('confirmPassword')?.errors">
        Please provide a valid password
      </mat-error>
      <mat-error *ngIf="signupForm.hasError('notSame')">
        Passwords do not match
      </mat-error>
    </mat-form-field>

  </form>
</div>

<div mat-dialog-actions align="center">
  <button mat-flat-button color="primary" (click)="signUp()" [disabled]="!signupForm.valid">Sign Up</button>
</div>